[Unit]
Description=VMWare Agent
After=network-online.target
ConditionVirtualization=vmware

[Service]
ExecStart=$EXEC_START
ExecStop=$EXEC_STOP
Restart=on-failure
WorkingDirectory=$DESTDIR
RuntimeDirectory=${NAME}

[Install]
WantedBy=multi-user.target